﻿@model CmsShoppingCart.Models.ViewModels.Shop.ProductVM

@{
    ViewBag.Title = Model.Name;
}

<h2>@Model.Name</h2>
<br />

<div class="row">

    <div class="col-xs-12 col-md-4">
        <img src="/Images/Uploads/Products/@Model.Id/Thumbs/@Model.ImageName" />
    </div>
    <div class="col-xs-12 col-md-3">
        <table class="table">
            <th>Author</th>
            <td>@Html.DisplayFor(model => model.Author)</td>
        </table>
    </div>

    <div class="col-xs-12 col-md-5">
        @Html.DisplayFor(model => model.Description)
        <br />
        $@Html.DisplayFor(model => model.Price)
        <br />

        @if( Request.IsAuthenticated)
        {
            <div class="addtocart">
                <a href="#" class="addtocart">Add to cart</a>
                <span class="loader">
                    <img src="~/Content/img/ajax-loader.gif" />
                </span>
                <span class="ajaxmsg">The product has been added to your cart.</span>
            </div>
        }

    </div>

</div>



<hr />

<div class="row">

    <h3>Product Gallery</h3>

    <div class="col-xs-12 fancyboxdiv">
        <br /><br />
        @foreach(var image in Model.GalleryImages)
        {
            <div style="display: inline-block">
                <a class="fancybox" rel="gallery1" href="/Images/Uploads/Products/@Model.Id/Gallery/@image">
                    <img src="/Images/Uploads/Products/@Model.Id/Gallery/Thumbs/@image" />
                </a>
            </div>
        }
    </div>

</div>

<link href="~/Content/jquery.fancybox.css" rel="stylesheet" />

@section Scripts {
    
<script src="~/Scripts/jquery.fancybox.js"></script>
<script>
$(function () {

    /*
    * Fancybox
    */

    $(".fancybox").fancybox();

    ////////////////////////////////////////////////////////

    /*
    * Add to cart
    */

    $("a.addtocart").click(function (e) {
        e.preventDefault();

        $("span.loader").addClass("ib");

        var url = "/cart/AddToCartPartial";

        $.get(url, { id: @Model.Id }, function (data) {
            $(".ajaxcart").html(data);
        }).done(function () {
            $("span.loader").removeClass("ib");
            $("span.ajaxmsg").addClass("ib");
            setTimeout(function () { 
                $("span.ajaxmsg").fadeOut("fast");
                $("span.ajaxmsg").removeClass("ib");
            }, 1000);
        });
    });

    ////////////////////////////////////////////////////////

});
</script>
    
}